.aw-user-setting .tab-content{padding:0 40px;}
.aw-user-setting .aw-mod .mod-footer{margin-bottom: 30px;}
.aw-user-setting .aw-mod .aw-mod{padding:30px 0;border-top: 1px solid #e6e6e6;}
.aw-user-setting .aw-mod .aw-mod:first-child{border-top: none;}
.aw-user-setting .aw-mod .form-group{margin:15px 0;line-height: 30px;}
/* 用户设置页面 */
.aw-user-setting h3{font-size: 16px;color: #333333;}
.aw-user-setting .form-horizontal .control-group{position: relative;}
.aw-user-setting .form-horizontal p{margin: 0;}
.aw-user-setting .form-horizontal p span{margin-left: 10px;}
.aw-user-setting .upload-attach{position:absolute; left:0; top:7px;width: 70px; height:25px; font-size:100px; opacity:0; filter:alpha(opacity=0);cursor:pointer;}
/* 基本资料 */
.aw-user-setting .mod-base{position: relative;}
.aw-user-setting .mod-base dl{height:auto;line-height: 25px;overflow:hidden;margin:0;padding-bottom: 15px;}
.aw-user-setting .mod-base dl dt, .aw-user-setting .mod-base dl dd{float: left;line-height: 30px;}
.aw-user-setting .mod-base dl dt{width: 80px;text-align: right;font-weight: normal;}
.aw-user-setting .mod-base .introduce input{width: 250px;}
.aw-user-setting .mod-base dl dd label{min-width: 50px;}
.aw-user-setting .mod-base dl dd select{width:110px;margin:0;}
.aw-user-setting .mod-base .time{width: 380px !important;}
.aw-user-setting .mod-base .side-bar{position: absolute;right: 0;top: 70px;}
.aw-user-setting .mod-base .side-bar dt{width: 100px;height: 100px;}
.aw-user-setting .mod-base .side-bar dd{width: 210px;}
.aw-user-setting .mod-base .side-bar span {margin-left:10px;}
.aw-user-setting .mod-base .side-bar span .aw-loading{position:relative;top:4px;margin-right: 5px;}
.aw-user-setting .mod-base .side-bar form{position:relative;opacity: 0;filter:alpha(opacity=0);width: 0;height: 0;}
.aw-user-setting .mod-base .side-bar form .file-input{position: absolute;left: 0;top: 0;}
/*响应式*/
@media (max-width: 640px) {
	.aw-nav-tabs h2 {position: static;}
	.aw-user-setting .mod-base .side-bar {position: relative;top: 0;}
	.aw-user-setting .mod-contact li input ,.aw-user-setting .mod-base .time,.aw-user-setting .mod-base .introduce input{width: 100%!important;}
}
@media (max-width: 321px) {
	.aw-nav-tabs h2 {position: static;}
	.aw-user-setting .mod-base dl dt {width: auto;}
	.aw-user-setting .mod-base dl dd select,.aw-user-setting .mod-base .introduce input,.aw-user-setting .mod-base .time,.aw-user-setting .mod-contact li input {width: 100%!important;}
	.aw-user-setting .mod-base .side-bar {position: relative;top: 0;}
	.aw-user-setting .mod-body {padding: 30px;}
}