*{padding:0;margin:0}
ul{list-style:none}
a{text-decoration:none;color:#666}
.clear{clear:both}

body{background-color: #f8fafc;font-family:-apple-system,"SF UI Text","PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei","Lantinghei SC","Source Han Sans","Noto Sans CJK",sans-serif,Arial;opacity:0;animation:bodyFadein .5s ease-in-out forwards;letter-spacing: 2px;}

img{border-radius: 4px;}

/* 滚动条 */
::-webkit-scrollbar-thumb{background-color:#12b7f5;background-image:-webkit-linear-gradient(45deg,rgba(255,93,143,1) 25%,transparent 25%,transparent 50%,rgba(255,93,143,1) 50%,rgba(255,93,143,1) 75%,transparent 75%,transparent)}
::-webkit-scrollbar{width:6px;height:1px}

/* 页面渐入进入 */
@keyframes bodyFadein{0%{opacity:0}
100%{opacity:1}
}

/* 循环旋转 */
@keyframes rotater{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}

/* 卡片信息向上出现 */
@keyframes fadein{
    0%{margin-top: 50px;opacity: 0;}
    100%{margin-top: 10px;opacity: 1;}
}

/* 返回顶部 */
#goToTop{text-align:right}

/* 文本溢出 */
.page-header h1{width:100%;overflow:hidden}


/* 主内容 */
.content{width:1200px;margin:0 auto;position: relative;}

/* 头部内容 */
.header{width:100%;top:0;z-index:9999}
.nav ul li{float: left;}
.nav ul li a{display: inline-block;color: #fff;padding: 25px;text-shadow: 4px 4px 10px rgba(0,0,0,.2);transition: all .4s;}
.nav ul li a:hover{color: #27cdfd;}

/* banner背景 */
.m-bg-all{position:fixed;z-index: -1;}
.m-bg{position:fixed;left:0;top:-580px;height:1000px;width:100%;transform:skewY(-11deg);background-image:linear-gradient(-20deg,#21d4fd,#b721ff)}
.m-bg .m-bg-mask{position:absolute;height:180px}
.m-bg .m-bg-mask0{bottom:0;left:0;width:30%;background-image:linear-gradient(120deg,#6ab3fd,#8ba3fd 102%)}
.m-bg .m-bg-mask1{bottom:180px;right:0;width:36%;background-image:linear-gradient(120deg,#28c5f5,#6682fe)}
.m-bg .m-bg-mask2{bottom:540px;left:0;width:20%;height:240px;background-image:linear-gradient(120deg,#8121ff,#5e5ef7)}
.m-bg .m-bg-mask3{bottom:540px;left:20%;width:70%;height:240px;background-image:linear-gradient(-225deg,#5f2bff,#6088fe 48%,#22ccf6)}
.m-bg::after{content:'';position:absolute;width:90%;height:100%;top:10px;left:5%;background:inherit;filter:blur(15px);opacity:.65;z-index:-1}


/* banner内容 */
.bannerContent{width: 100%;margin-top: 100px;color: #fff;}
.logoBox{float: left;width: 40%;}
.bannerImg{float: right;width: 50%;}
.bannerImg img{width: 100%;}
svg{position: absolute; animation: rotater 2s ease-in-out infinite alternate;left: 0;}
.logoBox span{display: inline-block;font-size: 40px;padding-left: 100px;padding-top: 10px; }
.logoBox p{margin: 20px 0 80px 0;font-size: 18px;line-height: 200%;}
.logoBox a{transition: all .5s;background-color: #32325d;color: #fff;display: inline-block;font-size: 14px;padding: 10px 20px;border-radius: 5px;}
.logoBox a:hover{box-shadow: 2px 2px 20px rgba(0, 0, 0, .2);}

/* 主内容区域 */
.main{width: 100%;}
.card{margin-top: 10px; border-radius: 10px; background: #fff;box-shadow: 10px 10px 30px rgba(0,0,0,.1);padding: 20px;animation: fadein 1s ease-in-out forwards;opacity: 0;}

#category-list a{display: inline-block;padding: 10px 20px;background-image: linear-gradient(120deg,#8121ff,#5e5ef7); color: #fff;margin: 15px 0;border-radius: 10px;}

/* 主内容左边 */
.mainLeft{float: left;width: 30%;}
.smlcard{margin: 15px 0;border-bottom: solid 1px rgba(0,0,0,.1);}
.smlcard a p{font-size: 12px;}


/* 主内容右边 */
.mainRight{float: right;width: 69%;border-radius: 10px;}
#posts_detail h2{margin-bottom: 5px;padding-bottom: 5px;border-bottom: 1px solid rgba(0,0,0,.1);}
#posts_detail p{margin-top: 10px;}
#posts_detail span{font-size: 12px;margin: 5px 20px 5px 0 ;}

/* 文章排版 */
#postdetail{background: #fff;border-radius: 10px;box-shadow: 10px 10px 30px rgba(0,0,0,.2);animation: fadein 1s ease-in-out forwards;}
.page-header{text-align: center;padding: 20px;}
.page-header h2{margin-bottom: 5px ;padding-bottom: 5px ;border-bottom: 1px solid rgba(0,0,0,.1);}
.page-header p span{font-size: 12px ;margin: 0 20px;color: #666;}
.page-content{padding: 20px;height: 100px;transition: all .5s;overflow: hidden;}
#postdetail:hover{height: auto;}

/* 评论排版 */
.post-comments,.media,.post-commets-list h4{background: #fff;box-shadow: 10px 10px 30px rgba(0,0,0,.1);margin: 20px 0;padding: 20px;border-radius: 10px;}
.form-group{padding: 10px 0;}
/* input:focus,textarea:focus{border: none;} */
.post-comments input,.post-comments textarea{padding: 15px;border: 1px solid #ccc;margin: 10px 0;border-radius: 5px;width: 95%;}
.post-comments {position: fixed;width: 60%; top: 10%;display: none;z-index: 3;}
.commenBtn{position: fixed;bottom: 5%;right: 5%; width: 100px ;height: 30px;line-height: 30px;text-align: center;padding: 10px 15px ;border-radius: 5px ;box-shadow: 10px 10px 30px rgba(0,0,0,.2);background: #fff;border: 1px solid;}
.commenBtnpost,.commenBtnclose{display: inline-block;text-align: center;padding: 10px 15px;width: 95%;color: #fff;background: #006699;border-radius: 5px;margin: 10px 0;}
.media-heading{padding-top: 10px;border-top: 1px solid rgba(0,0,0,.1);}
.commenMask{position: fixed;top: 0; width: 100%;height: 100vh;background: rgba(0,0,0,.8);display: none;z-index: 2;}

/* 自适应 */
@media screen and (max-width: 1200px) {
	.content{width:90%;}
	.logoBox,.bannerImg{float: none;width: 100%;text-align: center;}
	.logoBox a{display: none;}
	.logoBox p {margin: 50px 0 80px 0;font-size: 14px;}
	.logoBox span{font-size: 30px;padding-left: 50px;}
	.mainLeft,.mainRight{float: none;width: 100%;}
	.nav a{padding: 15px;}
}