body{
    font-family:  -apple-system, "SF UI Text", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", "Lantinghei SC", "Source Han Sans", "Noto Sans CJK", sans-serif, Arial;
    opacity: 0;
    animation: bodyFadein .5s ease-in-out forwards;
}
@keyframes bodyFadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
#goToTop{
    text-align: right
}